@define-color ember_fg #F8EDDC;
@define-color ember_fg_alt #ECD2AB;
@define-color ember_fg_soft #A7A9A1;
@define-color ember_fg_faded #E3E3E3;

@define-color ember_bg #242835;
@define-color ember_bg_deep #151722;
@define-color ember_bg_intense #10121A;
@define-color ember_bg_dark #0A0A0E;
@define-color ember_bg_alpha rgba(21, 23, 34, 0.84);
@define-color ember_bg_soft rgba(36, 40, 53, 0.9);

@define-color ember_ocean_faded #8AD9E9;
@define-color ember_ocean #00849A;
@define-color ember_ocean_intense #005278;
@define-color ember_ocean_dark #142734;
@define-color ember_ocean_soft rgba(0, 132, 154, 0.10);

@define-color ember_mauve_faded #D7C0E4;
@define-color ember_mauve #A17AB5;
@define-color ember_mauve_intense #57345A;
@define-color ember_mauve_dark #27212E;
@define-color ember_mauve_soft rgba(161, 122, 181, 0.42);

@define-color ember_pistachio_faded #A8E7D2;
@define-color ember_pistachio #7FA39F;
@define-color ember_pistachio_intense #3F6B57;
@define-color ember_pistachio_dark #222C2E;

@define-color ember_olive_faded #C9E295;
@define-color ember_olive #9BBA51;
@define-color ember_olive_intense #637411;
@define-color ember_olive_dark #272D20;

@define-color ember_gold_faded #ECDA9C;
@define-color ember_gold #CAA53E;
@define-color ember_gold_intense #AB7400;
@define-color ember_gold_dark #362D22;

@define-color ember_orange_faded #ECC6AE;
@define-color ember_orange #D88349;
@define-color ember_orange_intense #BD4C1B;
@define-color ember_orange_dark #352320;

@define-color ember_rose_faded #EDB7BF;
@define-color ember_rose #C84C53;
@define-color ember_rose_intense #C41323;
@define-color ember_rose_dark #361A24;
@define-color ember_rose_soft rgba(200, 76, 83, 0.18);

@define-color fg @ember_fg;
@define-color fg_alt @ember_fg_alt;
@define-color fg_soft @ember_fg_soft;

@define-color bg @ember_bg_alpha;
@define-color bg_alt transparent;
@define-color bg_soft @ember_bg_soft;

@define-color tooltip_bg @ember_bg_deep;
@define-color workspace_inactive @ember_fg_soft;

@define-color urgent @ember_rose;
@define-color active @ember_ocean;
@define-color good @ember_olive;
@define-color warn @ember_gold_faded;

* {
  font-family: "JetBrainsMono Nerd Font", "JetBrainsMono Nerd Font Mono", "Symbols Nerd Font", monospace;
  font-size: 11px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 24px;
  padding: 0px 5px 0px 5px;
  color: @fg;
}

window#waybar {
  background-color: @bg;
}

window#waybar.empty #window {
  background-color: transparent;
}

#window {
  background-color: transparent;
  color: @fg_soft;
  margin: 0px 2px 0px 2px;
}

tooltip * {
  background-color: @tooltip_bg;
  padding: 2px 3px 2px 3px;
  border-radius: 6px;
  color: @fg;
}

#custom-logo {
  background-color: @bg_alt;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 12px;
  color: @ember_ocean;
  padding: 0px 8px;
}

#custom-logo,
#workspaces button,
#workspaces button.focused,
#taskbar button,
#clock,
#group-expand,
#custom-expand,
#tray > .passive,
#tray > .active,
#tray > widget,
#custom-bluetooth,
#custom-disks,
#custom-updates,
#custom-cam,
#custom-brightness,
#custom-mic,
#custom-audio,
#network,
#custom-layout,
#custom-notification_center,
#memory,
#temperature,
#cpu {
  border: 1px solid transparent;
  box-shadow: none;
  outline: none;
}

#workspaces button,
#workspaces button.focused {
  border-radius: 0px;
  padding: 0px 12px 0px 10px;
  margin: 0px;
  background-color: transparent;
}

#workspaces button:hover {
  background-color: @ember_bg_deep;
  background-image: none;
  color: @workspace_inactive;
}

#workspaces button {
  color: @workspace_inactive;
}

#workspaces button.focused, #workspaces button.focused:hover {
  background-color: @ember_gold_dark;
  background-image: none;
}

#workspaces button.urgent {
  color: @urgent;
}

#taskbar button {
  padding: 0px 10px 0px 4px;
  margin: 0px;
}

#clock {
  background-color: transparent;
  color: @fg;
  padding: 0px 8px;
  margin: 0px 0px 0px 5px;
}

#group-expand .expand-item {
  margin-left: 4px;
}

#custom-expand {
  background-color: @bg_alt;
  color: @fg;
  padding: 0px 11px 0px 9px;
}

#custom-bluetooth {
  color: @ember_ocean_faded;
}

#tray > .passive,
#tray > .active,
#tray > widget,
#custom-bluetooth,
#custom-disks,
#memory,
#temperature,
#network,
#custom-notification_center {
  padding: 0px 12px 0px 8px;
  margin: 0px;
}

#custom-bluetooth,
#custom-disks,
#memory,
#temperature,
#network,
#custom-notification_center {
  padding-left: 10px;
}

#custom-disks,
#memory,
#network {
  color: @ember_mauve_faded;
}

#network {
  padding-right: 12px;
}

#memory {
  background-color: transparent;
}

#custom-notification_center {
  color: @ember_orange;
}


#custom-mic,
#custom-audio,
#custom-audio.low,
#custom-audio.high,
#custom-audio.muted {
  color: @ember_gold;
}

#temperature {
  background-color: transparent;
  color: @ember_pistachio;
}

#cpu {
  border-radius: 20px;
  background-color: transparent;
  color: @ember_mauve_faded;
  padding: 0px 11px 0px 9px;
  margin: 0px 0px 0px 2px;
}

#custom-disks {
  padding: 0px 11px 0px 9px;
}

#custom-logo:hover,
#taskbar button:hover,
#clock:hover,
#group-expand:hover,
#custom-expand:hover,
#tray > .passive:hover,
#tray > .active:hover,
#tray > widget:hover,
#custom-bluetooth:hover,
#custom-disks:hover,
#custom-updates:hover,
#custom-cam:hover,
#custom-brightness:hover,
#custom-mic:hover,
#custom-audio:hover,
#network:hover,
#custom-layout:hover,
#custom-notification_center:hover,
#memory:hover,
#temperature:hover,
#cpu:hover {
  background-color: @ember_bg_deep;
  background-image: none;
  border-radius: 8px;
}

#custom-updates.warn,
#custom-brightness.warn,
#custom-mic.warn {
  color: @warn;
}

#custom-brightness,
#custom-brightness.low,
#custom-brightness.medium,
#custom-brightness.high {
  color: @ember_gold;
}

#custom-brightness.hidden {
  min-width: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

#custom-layout.us {
  color: #8AD9E9;
}

#custom-cam.on,
#cpu.critical {
  color: @urgent;
}

#temperature.critical {
  color: @urgent;
}

#custom-layout.fr {
  color: @good;
}
